body {
    margin: 0;
}
main {
    color: white;
}

.content {
    z-index: 1;
    height: 100vh;
    background: url(images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.content a {
    text-decoration: none;
}

.content h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 48px;
    text-align: center;
    margin-inline: auto;
    background: #5a99f9;
    color: white;
}

.block {
    text-shadow: 2px 3px 3px black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: -108px;
}

.block .half {
    width: 50%;
}

.block .img {
    background-image: no-repeat center center;
    display: flex;
    object-fit: cover;
    margin: auto;
    margin-right: 50px;
    object-fit: cover;
    width: 70%;
}

.block .text{
    width: 80%;
    margin: auto;
    margin-left: 50px;
    font-size: 32px;
}

.hotel {
    background: url(images/.png);
}

.hotel ul {
    display: flex;
    justify-content: center;
}

.hotel a {
    display: flex;
    justify-content: center;
    font-size: 48px;
    text-align: center;
}

.hotel ul li {
    margin-inline: 5%;
    width: 30%;
    display: inline-block;
}

.hotel img {
    border-radius: 10%;
    width: 100%;
    display: block;
}

.prices {
    background-image: url(images/Prices.png);
    background-size: cover;
    height: 100%;
}

.prices ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    justify-content: space-around
}

.prices .card-title {
    color: black;
    font-weight: bold;
}

.prices .card-text {
    color: black;
}

.title h2{
    margin: 0;
}