body {
    margin: 0;
}
main {
    color: white;
}

.content {
    z-index: 1;
    height: 100vh;
}

.about {
    background: url(images/background2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.about p{
    text-shadow: 2px 3px 3px black;
}

.content a {
    text-decoration: none;
}

.content h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 48px;
    text-align: center;
    margin-inline: auto;
    background: #5a99f9;
    color: white;
}

.block {
    position: relative;
    padding: 20px;
    padding-block: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: -108px;
}

.block .half {
    display: flex;
    margin-top: 100px;
    width: 50%;
}

.block .img {
    /* margin-top: -100px; */
    background-image: no-repeat center center;
    display: flex;
    object-fit: cover;
    margin: auto;
    margin-right: 50px;
    object-fit: cover;
    width: 70%;
}

.block .text{
    width: 100%;
    margin: auto;
    margin-left: 50px;
    font-size: 32px;
}

.hotel {
    background: url(images/background3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.hotel ul {
    display: inline-flex;
    margin-inline: 10%;
    text-align: center;
    margin-top: 100px;
    justify-content: center;
}

.hotel a {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 48px;
    text-align: center;
    transition: color 0.5s;
}

.hotel a:hover {
    color: rgb(255, 153, 0);
}

.hotel ul li {
    margin-inline: 5%;
    display: inline-block;
}

.hotel img {
    border-radius: 10%;
    width: 100%;
    display: block;
}

.prices {
    background-image: url(images/background4.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.prices ul {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
}

.prices li {
    margin: 3%;
}

.prices .block {
    display: block;
}

.prices {
    height: fit-content;
}

.prices .card-title {
    color: black;
    font-weight: bold;
}

.prices .card-text {
    color: black;
}

.prices .card {
    height: 400px;
    width: 300px;
}

.prices .btn {
    width: fit-content;
    display: flex;
    bottom: 20px;
    margin-inline: auto;
}

.prices .card:hover {
    border: 4px thick;
}

.title h2{
    margin: 0;
}

.contacts {
    background: url(images/background5.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contacts .half {
    margin-inline: 20px;
    font-size: 48px;
    display: flex;
}

.contacts ul {
    padding-left: 0;
    list-style: none;
}

.contacts li {
    display: flex;
    padding-left: 10px;
    margin-bottom: 10px;
    align-items: center;
    padding-block: 10px;
}

.contacts img {
    padding-right: 15px;
    width: 80px;
    height: max-content;
}

.contacts .map {
    margin-left: 10%;
    border-radius: 30px;
}

.contacts .map img {
    width: 80px;
}

.contacts .right {
    justify-content: left;
}

.contacts .left {
    justify-content: right;
}

.faq .title {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 48px;
    text-align: center;
    margin-inline: auto;
    background: #5a99f9;
    color: white;
}

.faq {
    min-height: 100vh;
    background: url(images/background6.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.faq .accordion {
    border: 2px solid purple;
    border-radius: 20px;
    color: white;
    margin: 50px 50px 0px 50px;
    border-width: 0;
}


.faq .accordion-item {
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5);
}

.faq .accordion-button {
    border: none;
    color: white;
    font-size: 28px;
    background: rgba(0, 0, 0, 0.5);
}

.faq .accordion-body {
    color: white;
    font-size: 24;
}

.form {
    color: white;
    align-items: center;
    background: url(images/background7.png);
}

.accordion :root {
    --bs-border-width: 0px;
    --bs-border-radius: 20px;
}

.faq .accordion {
    padding-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0px;
    padding: 2rem;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    width: 100%;
  }
  