#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.473);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 40px;
  }

  #sidenav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
    flex-direction: column;
    align-items: flex-start;
  }

  #sidenav a {
    padding: 8px 8px 12px 28px;
    text-decoration: none;
    font-size: 28px;
    color: #c4c4c4;
    display: block;
    transition: 0.3s;
  }
  
  #sidenav a:hover {
    color: #747474;
  }
  
  #sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
  }

  .open-nav {
    z-index: 3;
    font-weight: bold;
    color: rgb(0, 0, 0);
    top: 10px;
    left: 20px;
    position: fixed;
    font-size:36px;
    cursor:pointer;
  }

  .open-nav:hover {
    color: rgb(255, 255, 255);
  }
  
  @media screen and (min-width: 1200px){
    .sidenav {
      display: none
    }
    .open-nav {
      display: none;
    }
  }
  @media screen and (max-width: 1200px){
    nav {
      display: none;
      height: 0;
    }
  }